# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user
*.lyx~
*.lyx#
build-*
Makefile
boost_graph_cookbook_1.pro
Makefile.Debug
Makefile.Release
.nfs*
debug/
boost_graph_cookbook_1_test
*.gcov
create_*.svg
boost_graph_cookbook_1/boost_graph_cookbook_1.log
*.tar.gz
oclint-0.10.3/
do_oclint.sh
oclint.log
*.gcno
*.pro.user.*
Makefile
*.autosave
.Rhistory
.qmake.stash
boost_graph_cookbook_1_v3_3.pdf
