# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user
*.lyx~
*.lyx#
build-*
Makefile
BoostGraphTutorial.pro
Makefile.Debug
Makefile.Release
.nfs*
debug/
boost_graph_tutorial_test
*.gcov
./*.dot
save_*.dot
load_*.dot
create_*.dot
create_*.svg
g1.dot
g2.dot
h2.dot
h1.dot
BoostGraphTutorial/boost_graph_tutorial.log
*.tar.gz
oclint-0.10.3/
do_oclint.sh
oclint.log
*.gcno
*.pro.user.*
Makefile
BoostGraphTutorial/Makefile
BoostGraphTutorial/CC-BY-SA_icon.pdf
BoostGraphTutorial/Petersen_graph.pdf
BoostGraphTutorial/boost_graph_tutorial.tex
BoostGraphTutorial/create_bundled_edges_and_vertices_k3_graph.pdf
BoostGraphTutorial/create_bundled_edges_and_vertices_markov_chain.pdf
BoostGraphTutorial/create_bundled_vertices_k2_graph.pdf
BoostGraphTutorial/create_bundled_vertices_markov_chain.pdf
BoostGraphTutorial/create_custom_and_selectable_edges_and_vertices_k2_graph.pdf
BoostGraphTutorial/create_custom_and_selectable_edges_and_vertices_markov_chain.pdf
BoostGraphTutorial/create_custom_and_selectable_vertices_k2_graph.pdf
BoostGraphTutorial/create_custom_and_selectable_vertices_markov_chain.pdf
BoostGraphTutorial/create_custom_edges_and_vertices_k3_graph.pdf
BoostGraphTutorial/create_custom_edges_and_vertices_markov_chain.pdf
BoostGraphTutorial/create_custom_vertices_k2_graph.pdf
BoostGraphTutorial/create_custom_vertices_markov_chain.pdf
BoostGraphTutorial/create_custom_vertices_path_graph_4.pdf
BoostGraphTutorial/create_k2_graph.pdf
BoostGraphTutorial/create_k2_graph_with_graph_name.pdf
BoostGraphTutorial/create_k3_graph.pdf
BoostGraphTutorial/create_markov_chain.pdf
BoostGraphTutorial/create_markov_chain_with_graph_name.pdf
BoostGraphTutorial/create_named_edges_and_vertices_k3_graph.pdf
BoostGraphTutorial/create_named_edges_and_vertices_markov_chain.pdf
BoostGraphTutorial/create_named_vertices_k2_graph.pdf
BoostGraphTutorial/create_named_vertices_markov_chain.pdf
BoostGraphTutorial/create_named_vertices_path_graph_4.pdf
BoostGraphTutorial/create_path_graph_4.pdf
BoostGraphTutorial/create_petersen_graph.pdf
BoostGraphTutorial/create_tutorial_chapters_graph.pdf
BoostGraphTutorial/create_tutorial_subchapters_graph.pdf
BoostGraphTutorial/title_graph.pdf
