# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user
*.lyx~
*.lyx#
build-*
Makefile
boost_graph_cookbook_1.pro
Makefile.Debug
Makefile.Release
.nfs*
debug/
boost_graph_tutorial_test
*.gcov
./*.dot
save_*.dot
load_*.dot
create_*.dot
create_*.svg
g1.dot
g2.dot
h2.dot
h1.dot
boost_graph_cookbook_1/boost_graph_tutorial.log
*.tar.gz
oclint-0.10.3/
do_oclint.sh
oclint.log
*.gcno
*.pro.user.*
Makefile
boost_graph_cookbook_1/Makefile
boost_graph_cookbook_1/CC-BY-SA_icon.pdf
boost_graph_cookbook_1/Petersen_graph.pdf
boost_graph_cookbook_1/boost_graph_tutorial.tex
boost_graph_cookbook_1/create_bundled_edges_and_vertices_k3_graph.pdf
boost_graph_cookbook_1/create_bundled_edges_and_vertices_markov_chain.pdf
boost_graph_cookbook_1/create_bundled_vertices_k2_graph.pdf
boost_graph_cookbook_1/create_bundled_vertices_markov_chain.pdf
boost_graph_cookbook_1/create_custom_and_selectable_edges_and_vertices_k2_graph.pdf
boost_graph_cookbook_1/create_custom_and_selectable_edges_and_vertices_markov_chain.pdf
boost_graph_cookbook_1/create_custom_and_selectable_vertices_k2_graph.pdf
boost_graph_cookbook_1/create_custom_and_selectable_vertices_markov_chain.pdf
boost_graph_cookbook_1/create_custom_edges_and_vertices_k3_graph.pdf
boost_graph_cookbook_1/create_custom_edges_and_vertices_markov_chain.pdf
boost_graph_cookbook_1/create_custom_vertices_k2_graph.pdf
boost_graph_cookbook_1/create_custom_vertices_markov_chain.pdf
boost_graph_cookbook_1/create_custom_vertices_path_graph_4.pdf
boost_graph_cookbook_1/create_k2_graph.pdf
boost_graph_cookbook_1/create_k2_graph_with_graph_name.pdf
boost_graph_cookbook_1/create_k3_graph.pdf
boost_graph_cookbook_1/create_markov_chain.pdf
boost_graph_cookbook_1/create_markov_chain_with_graph_name.pdf
boost_graph_cookbook_1/create_named_edges_and_vertices_k3_graph.pdf
boost_graph_cookbook_1/create_named_edges_and_vertices_markov_chain.pdf
boost_graph_cookbook_1/create_named_vertices_k2_graph.pdf
boost_graph_cookbook_1/create_named_vertices_markov_chain.pdf
boost_graph_cookbook_1/create_named_vertices_path_graph_4.pdf
boost_graph_cookbook_1/create_path_graph_4.pdf
boost_graph_cookbook_1/create_petersen_graph.pdf
boost_graph_cookbook_1/create_tutorial_chapters_graph.pdf
boost_graph_cookbook_1/create_tutorial_subchapters_graph.pdf
boost_graph_cookbook_1/title_graph.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_and_selectable_edges_and_vertices_subgraphs_0.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_and_selectable_edges_and_vertices_subgraphs_1.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_and_selectable_edges_and_vertices_subgraphs_2.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_and_selectable_vertices_subgraphs_0.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_and_selectable_vertices_subgraphs_1.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_and_selectable_vertices_subgraphs_2.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_edges_and_vertices_subgraphs_0.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_edges_and_vertices_subgraphs_1.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_edges_and_vertices_subgraphs_2.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_vertices_subgraphs_0.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_vertices_subgraphs_1.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_custom_vertices_subgraphs_2.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_named_edges_and_vertices_subgraphs_0.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_named_edges_and_vertices_subgraphs_1.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_named_edges_and_vertices_subgraphs_2.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_named_vertices_subgraphs_0.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_named_vertices_subgraphs_1.pdf
boost_graph_cookbook_1/create_all_direct_neighbour_named_vertices_subgraphs_2.pdf
boost_graph_cookbook_1/create_named_edges_and_vertices_k2_graph.pdf
boost_graph_cookbook_1/create_named_edges_and_vertices_path_graph_4.pdf
boost_graph_cookbook_1/create_named_edges_and_vertices_petersen_graph.pdf
boost_graph_cookbook_1/create_named_vertices_k3_graph.pdf
boost_graph_cookbook_1/create_named_vertices_petersen_graph.pdf
boost_graph_cookbook_1/named_vertices_petersen_graph.pdf
*.autosave
